html, body{
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header a, footer a{
    display: inline-block;
    padding: 0.5em;
}

a:hover {
    text-decoration: underline;
}

.link-left a{
    float: left;
}

.link-right a{
    float: right;
}


/* main start */
main {
    clear: both; /* makes the main content clear the other content, not on the same line */
    padding-top: 10%;
}

#logo-main{
    width: 272px;
    display: block; /* making it a block element */
    margin: auto /* center the logo */
}

#search-bar {
    max-width: 500px;
    width: 100%;    /* 100% of div */
    display: block; /* making it a block element */
    margin: auto; /* center the logo */
    border-radius: 1em;
    border: 1px solid grey;
    padding: 0.3em;
}


main button{
    box-sizing: border-box;
    text-align: center;
    background-color: #dddddd;
    border: 1px solid transparent;
    margin: 0 0.3em;
    border-radius: 0.3em; /* rounded borders */
    padding: 0.7em 1.2em; /* top/bottom = 0.7em, left/right=1.2em */
    width: 12em;
}

main button:hover{
    border: 1px solid grey;
}

.center {
    text-align: center;
}

.clear{
    clear: both;
}

main div{
    margin: 0.5em 0;
}

/* main end */

footer{
    background-color: #eeeeee;
    position: fixed;
    bottom: 0;
    width: 100%;
}
